     /* Kustom Parallax Effect */
        .parallax {
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }

        /* navbar-color */
        .nav-color {
            background-color: #fff;
            color: black;
            transition: all ease-in-out 0.3s;
        }

        .bg-transparent {
            transition: all ease-in 0.3s;
        }

        .scrollbar-hide::-webkit-scrollbar {
            display: none;
        }

        .scrollbar-hide {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        @media (min-width: 768px) {
            .hide-scrollbar::-webkit-scrollbar {
                display: none;
            }

            .hide-scrollbar {
                -ms-overflow-style: none;
                /* IE and Edge */
                scrollbar-width: none;
                /* Firefox */
            }
        }

        .form-hidden {
            display: none;
        }

        .tab-active {
            color:rgb(216, 104, 29);
            border-bottom: 2px solidrgb(216, 113, 29);
            font-weight: 600;
        }

        .tab-inactive {
            color: #6b7280;
            border-bottom: none;
        }